<header class="flex justify-between items-center p-4 bg-white shadow-md">
    <div class="flex items-center">
      <div class="text-2xl font-bold text-teal-700">Logo</div>
      <input type="text" placeholder="Search here..." class="ml-8 border-b-2 border-gray-200 outline-none p-2 hidden md:block" />
    </div>
    <nav class="hidden md:flex space-x-6 text-lg">
      <a routerLink="/" class="font-bold hover:text-teal-700">Home</a>
      <a routerLink="/incep" class="font-bold hover:text-teal-700">Pages</a>
      <a routerLink="/insurance" class="font-bold hover:text-teal-700">Insurances</a>
      <a routerLink='/blog'class="font-bold hover:text-teal-700">Blog</a>
      <a routerLink="/contact" class="font-bold hover:text-teal-700">Contact Us</a>
    </nav>
    <div class="flex items-center space-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="#0f8577" d="M19.5 22a1.5 1.5 0 0 0 1.5-1.5V17a1.5 1.5 0 0 0-1.5-1.5c-1.17 0-2.32-.18-3.42-.55a1.51 1.51 0 0 0-1.52.37l-1.44 1.44a14.77 14.77 0 0 1-5.89-5.89l1.43-1.43c.41-.39.56-.97.38-1.53c-.36-1.09-.54-2.24-.54-3.41A1.5 1.5 0 0 0 7 3H3.5A1.5 1.5 0 0 0 2 4.5C2 14.15 9.85 22 19.5 22M3.5 4H7a.5.5 0 0 1 .5.5c0 1.28.2 2.53.59 3.72c.05.14.04.34-.12.5L6 10.68c1.65 3.23 4.07 5.65 7.31 7.32l1.95-1.97c.14-.14.33-.18.51-.13c1.2.4 2.45.6 3.73.6a.5.5 0 0 1 .5.5v3.5a.5.5 0 0 1-.5.5C10.4 21 3 13.6 3 4.5a.5.5 0 0 1 .5-.5" />
      </svg>
      <span class="hidden md:block">+(111) 65 458 856</span>
      <button class="bg-teal-700 text-white px-4 py-2 rounded hover:bg-teal-700">Get A Quote</button>
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-teal-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
    </div>
  </header>
  
